---
Checks: >
  -*,
  bugprone-*,
  -bugprone-reserved-identifier,
  -bugprone-narrowing-conversions,
  -bugprone-sizeof-expression,
  -bugprone-branch-clone,
  -bugprone-macro-parentheses,
  -bugprone-suspicious-include,
  performance-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-pro-*,
  -cppcoreguidelines-no-malloc,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-narrowing-conversions,
  readability-*,
  -readability-implicit-bool-cast,
  -readability-simplify-boolean-expr,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -readability-function-size,
  -readability-isolate-declaration,
  -readability-uppercase-literal-suffix,
  -readability-qualified-auto,
  portability-*,
  google-*,
  -google-readability-casting,
  -google-readability-todo,
  -google-runtime-int,
  -google-explicit-constructor,
  -google-readability-function-size,
  misc-*,
  -misc-misplaced-const,
  -misc-unused-parameters,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,

#WarningsAsErrors: "*"
FormatStyle: "file"
